@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  height: 100%;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #d4d4d8 transparent;
}

@media (prefers-color-scheme: dark) {
  * {
    scrollbar-color: #52525b transparent;
  }
}

::selection {
  background-color: rgb(191 219 254 / 0.5);
}

@media (prefers-color-scheme: dark) {
  ::selection {
    background-color: rgb(59 130 246 / 0.3);
  }
}
